<ion-content>

    <ion-card>
        <ion-card-header color="primary">
            <ion-card-subtitle>Lavagem Ecológica</ion-card-subtitle>
            <ion-card-title>Como Funciona?</ion-card-title>
        </ion-card-header>

        <img src="assets/ecologica.jpg">

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>


        <ion-item>
            <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
            <ion-button fill="outline" slot="start">View</ion-button>

        </ion-item>

    </ion-card>

    <ion-card>
        <ion-card-header color="primary">
            <ion-card-subtitle>Promoções</ion-card-subtitle>
            <ion-card-title>Lavagem Rápida</ion-card-title>
        </ion-card-header>

        <img src="assets/produto.jpeg">

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>


        <ion-item>
            <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
            <ion-button fill="outline" slot="start">View</ion-button>

        </ion-item>

    </ion-card>


    <ion-card>
        <ion-card-header color="primary">
            <ion-card-subtitle>ILAVEI</ion-card-subtitle>
            <ion-card-title>Higienização de banco de couro</ion-card-title>
        </ion-card-header>

        <img src="assets/banco.jpg">

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>


        <ion-item>
            <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
            <ion-button fill="outline" slot="start">View</ion-button>

        </ion-item>

    </ion-card>

=======
<ion-header [translucent]="true">
    <!-- <ion-toolbar> -->
    <!-- <ion-title>
            I lavei
        </ion-title> -->
    <!-- </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/tabs/login">
            <ion-icon name="person-add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>


</ion-content>