.icon {
    color: rgb(1, 2, 2);
    padding-left: 18px;
    margin-top: 130px;
    font-size: 40px;
}

.iae{
    margin-left: 250px;
    margin-top: 20px;
    color: rgb(45, 190, 16);
    font-size: 30px;
  
  }

  .botão{
    margin-left: 120px;
  }

