<ion-header>
    <ion-toolbar>
        <img style="display: block;  " src="assets/back.png" routerLink="/tabs/tab3">
    </ion-toolbar>
</ion-header>


<ion-content>

    <ion-list>
        <ion-item lines="" *ngFor="let endereco of listEnderecos ; index as x ">
            <ion-label>
                {{ x + 1}} - Endereco: {{endereco.logradouro}} - CEP: {{endereco.cep}}
            </ion-label>
        </ion-item>
    </ion-list>
    <!-- Botão endereco -->
    <ion-button routerLink="/tabs/endereco-add/{{key}}">
        <ion-icon name="map-outline"></ion-icon>
    </ion-button>

</ion-content>