<!-- Toggles in a List -->
<ion-list>
    <br><br><br><br>
    <ion-item>
        <ion-label>Interna</ion-label>
        <ion-toggle color="primary" [(ngModel)]="primary"></ion-toggle>

    </ion-item>


    <ion-item>
        <ion-label>Limpeza de Bancos de Couro</ion-label>
        <ion-toggle color="primary" [(ngModel)]="dark"></ion-toggle>

    </ion-item>

    <ion-item>
        <ion-label>Limpeza Técnica de Motor </ion-label>
        <ion-toggle color="primary" [(ngModel)]="warning"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Oxi-Sanitização </ion-label>
        <ion-toggle color="primary" [(ngModel)]="medium"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Limpeza de Ar-Condicionado </ion-label>
        <ion-toggle color="primary" [(ngModel)]="danger"></ion-toggle>

    </ion-item>


    <div class="icon">
        <ion-icon routerLink="/tabs/tab2" name="arrow-back-outline"></ion-icon>
    </div>