    .icon {
        color: rgb(5, 5, 5);
        padding-left: 18px;
        margin-top: 40px;
        font-size: 40px;
    }
    
    .iae {
        margin-left: 250px;
        margin-top: 5px;
        color: rgb(45, 190, 16);
        font-size: 30px;
    }
    
    .botão {
        margin-left: 120px;
    }
    
    .ti {
        padding-left: 40px;
        margin-top: 40px;
        color: rgb(14, 117, 185);
    }