<!-- Toggles in a List -->
<ion-list>
    <br><br><br><br>
    <ion-item>
        <ion-label>Polimento do Farol</ion-label>
        <ion-toggle color="primary" [(ngModel)]="primary"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Cristalização de Vidro</ion-label>
        <ion-toggle color="primary" [(ngModel)]="dark"></ion-toggle>

    </ion-item>

    <ion-item>
        <ion-label>Espelhamento de Pintura </ion-label>
        <ion-toggle color="primary" [(ngModel)]="warning"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Vitrificação </ion-label>
        <ion-toggle color="primary" [(ngModel)]="medium"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Remoção de Chuva Ácida </ion-label>
        <ion-toggle color="primary" [(ngModel)]="danger"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Detalhamento </ion-label>
        <ion-toggle color="primary" [(ngModel)]="iae"></ion-toggle>
    </ion-item>

    <div class="icon">
        <ion-icon routerLink="/tabs/tab2" name="arrow-back-outline"></ion-icon>
    </div>