<ion-content>

    <div class="form">

        <img style="display: block;  margin-left: auto; margin-right: auto;" src="assets\carro.png" alt="">


        <ion-button class="botao" expand="block" routerLink="/tabs/lavagem" type="submit">+Higienização+</ion-button>




        <!-- <ion-button expand="block" type="reset" color="danger">Cancelar</ion-button> -->


        <div class="form2">

            <ion-button class="botao2" expand="block" routerLink="/tabs/estetica" type="submit">+Estética+</ion-button>
            <!-- <ion-button expand="block" type="reset" color="danger">Cancelar</ion-button> -->

        </div>

    </div>

    <div class="form3">

        <ion-button class="botao3" expand="block" type="submit">+Lavagem+</ion-button>
        <!-- <ion-button expand="block" type="reset" color="danger">Cancelar</ion-button> -->

    </div>




</ion-content>