.campo {
    padding: 0 20px !important;
    border: solid rgb(0, 255, 234) 2px;
    border-radius: 15px;
}

.botao {
    margin-top: -50px;
    padding: 0 50px !important;
    border-radius: 40px;
    color: #0d19b8;
    font-weight: 900;
       
}

.botao2 {
    margin-top: 110px;
    padding: 0 50px !important;
    border-radius: 10px;
    color: rgb(12, 0, 179);
    font-weight: 900;
}
.botao3 {
    margin-top: 110px;
    padding: 0 50px !important;
    border-radius: 20px;
    color: rgb(12, 0, 179);
    font-weight: 900;
}

.botao4 {
    margin-top: 110px;
    padding: 0 50px !important;
    border-radius: 10px;
    color: rgb(12, 0, 179);
    font-weight: 900;
   
   
    
 
}

.form {
    margin-top: -20px;
    font-style: italic;
    
  
    
}

.form2 {
    margin-top: -90px;
font-style: italic;
   
   

    
}

.form3 {
    margin-top: -90px;
    font-style: italic;
}

.form4 {
    margin-top: -90px;
    font-style: italic;
    
}