<ion-header translucent>
    <ion-toolbar>
        <ion-title>Nav</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen>
    <ion-list>

        <ion-item button (click)="showDetail(tech.title)" *ngFor="let tech of techs">
            <ion-icon slot="start" name="logo-{{tech.icon}}"></ion-icon>
            <ion-label>
                <h3>{{tech.title}}</h3> {{tech.icon}}
            </ion-label>
        </ion-item>

    </ion-list>

    <ion-header translucent>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title>{{tech.title}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content fullscreen class="ion-padding">
        <ion-icon name="logo-{{tech.icon}}" size="large"></ion-icon>
        <p>{{tech.description}}</p>
    </ion-content>
</ion-content>