<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header> -->



<ion-content>
    <img style="display: block;  margin-left: auto; margin-right: auto; " src="assets/ilavei.png" alt="">

    <div class="form">


        <h1 style="text-align: center; color: rgb(0, 85, 165);">Login</h1>

        <ion-item lines="none">
            <!-- <ion-label>E-mail</ion-label> -->
            <ion-input class="campo" placeholder="Email" style="text-align: center; color: rgb(0, 85, 165);" type="email" [(ngModel)]='email' name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <!-- <ion-label>Senha</ion-label> -->
            <ion-input class="campo" placeholder="Senha" style="text-align: center; color: rgb(0, 85, 165);" type="password" [(ngModel)]='senha' name="senha" #s="ngModel" minlength="6">
            </ion-input>

        </ion-item>

        <ion-button class="botao" expand="block" type="button" (click)="login()">Entrar</ion-button>
        <!-- <ion-button expand="block" type="reset" color="danger">Cancelar</ion-button> -->
        <br>

        <ion-title style="text-align: center; color: rgb(0, 85, 165);">Não tem Cadastro?</ion-title>
        <ion-title style="text-align: center; color: rgb(0, 255, 255);" routerLink="/tabs/userAdd">Cadastre-se!</ion-title>

        <!-- <img style="display: block;  margin-left: auto; margin-right: auto; " src="assets/facebook.png" alt="">
        <img style="display: block;  margin-left: auto; margin-right: auto; " src="assets/google.png" alt=""> -->
        <ion-title style="text-align: center; color: rgb(0, 85, 165);">ou</ion-title>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div>
                        <a href="https://pt-br.facebook.com/">
                            <img style="display: block;  margin:auto; margin-right: 10px; " src="assets/facebook.png " alt=" ">
                        </a>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <a href="https://accounts.google.com/signin/v2/identifier?hl=pt-br&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                            <img style="display: block; margin:auto; margin-left:10px ;" src="assets/google.png " alt=" ">
                        </a>
                    </div>
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>


</ion-content>