.campo {
    padding: 0 20px !important;
    border: solid rgb(0, 255, 234) 2px;
    border-radius: 15px;
}

.botao {
    margin-top: 5px;

    margin-top: 10px;
    padding: 0 20px !important;
    border-radius: 40px;
}

.form {
    margin-top: -50px;

    margin-top: 10px;
}